header {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	background-color: #FFFFFF;
}
body {
	background-color: #ffffff;
}
header img {
	height: 30px;
	width: 100px;
	float: left;
	padding-left: 60px;
	padding-top: 12px;
	padding-right: 20px;
}
li {
	font-family: Lato, sans-serif;
	display: inline;
	padding: 15px;
}
li a{
	text-align: center;
	text-decoration: none; 
	padding: 15px 13px;
	color: #6B6B6B;
}

li a:hover {
	color: #000000;
}
.wrapper button {
	background-color: #692172;
	color: #FFFFFF;
	font-family: Lato, sans-serif;
	text-align: center;
	font-size: 14px;
	border-radius: 6px;
	border-style: none;
	padding: 15px 25px
}
.wrapper .btn {
	padding-right: 60px;
	padding-top: 0px;
}
.wrapper button:hover {
	background-color: #4c0f54;
}

.pic {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
}
.svg img {
	width: 80%;
	height: 110%;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
}
.work h1{
	font-family: Lato,sans-serif;
	font-size: 500%;
	padding-top: 50px; 
	color: #3F3E3F;
}

.work .alp {
	font-size: 120%;
	font-family: Lato, sans-serif;
	color: #6B6B6B;
	/*padding-right: 45px;*/
}

.work button {
	background-color: #692172;
	color: #FFFFFF;
	font-family: Lato, sans-serif;
	text-align: center;
	font-size: 15px;
	border-radius: 6px;
	border-style: none;
	padding: 22px 45px;
}

.work button:hover {
	background-color: #4c0f54;
}

.work input  {
	height: 17px;
	width: 350px;
	padding: 22px 10px;
	border-radius: 6px;
	border: 1px solid #B2AEB2;
	margin: 0px 18px 0px 0px; 

}

::placeholder {
	font-size: 18px;
}

.work p {
	font-size: 15px;
	font-family: Lato, sans-serif;
	color: #6B6B6B;


}

.work a {
	color: #3D7FB3;
}


.first {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
  	grid-template-rows: auto auto auto auto;
  	grid-row-gap: 0px;
 	grid-column-gap: 10px; 
 	justify-items :center;

}

.hub {
	grid-area: 1/1/2/5;
	font-family: Lato, sans-serif;
	padding-top: 100px;
	text-align: center;
	
}

.hub h1 {
	font-size: 35px;
	color: #1D1D1D;
}
.hub p {
	padding-left: 150px;
	padding-right: 150px;
}
.channel {
	float: left;
	font-family: Lato, sans-serif;
	padding-left: 10px;
}
.channel img{
	width: 40%;
	height: 40%;	
}
.channel h3 {
	font-weight: bold;
}
.search {
	float: left;
	font-family: Lato, sans-serif;
}
.search img{
	width: 40%;
	height: 40%;	
}
.search h3 {
	font-weight: bold;
}
.integrations {
	float: left;
	font-family: Lato, sans-serif;
}
.integrations img {
	width: 40%;
	height: 40%;
}
.integrations h3 {
	font-weight: bold;
	font-family: Lato, sans-serif;
}
.security {
	float: left;
	font-family: Lato, sans-serif;
}
.security img {
	width: 40%;
	height: 40%;
}
.security h3 {
	font-weight: bold;
}
.first p{
	font-family: Lato, sans-serif;
	float: left;
}
.features {
	grid-area: 3/1/4/5;
	font-size: 125%;
}

.new {
	font-family: Lato, sans-serif;
	text-align: center;
	color: #3F3E3F;
}

.second {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items:center;
}
.second a {
	text-decoration: none;
}
.second img{ 
	width:250px; 
	height:200px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}
.second p {
	font-family: Lato, sans-serif;
	padding-left: 10px;
	color: #6B6B6B;
}
.second h2 {
	font-family: Lato, sans-serif;
	padding-left: 10px;
	color: #3F3E3F;
}
.second h5 {
	font-family: Lato, sans-serif;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 24px;
	color: #3D7FB3;
}
.blog {
	width: 270px;
	height: 450px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
.ebook {
	width: 270px;
	height: 450px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
.e-book {
	width: 270px;
	height: 450px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.good {
	background-color: #F5F5F5;
	
}

.good {
	font-family: Lato, sans-serif;
	text-align: center
}
.good p {
	font-family: Lato, sans-serif;
	padding-left: 30%;
	padding-right: 30%;
	text-align: center;
}

.third {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items:center;
}
.third a {
	text-decoration: none;
}
.third p {
	font-family: Lato, sans-serif;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	text-align: center;
	color: #6B6B6B;
}
.third .big { 
	width:250px; 
	height:200px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}
.third .small {
	width: 150px;
	height: 55px;
	padding-top: 10px;
	padding-left: 60px;
	padding-right: 60px
}
.fox {
	width: 270px;
	height: 450px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
.auto {
	width: 270px;
	height: 450px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
.auto .smalll {
	width: 220px;
	height: 40px;
	padding-left: 20px;
}
.rmit {
	width: 270px;
	height: 450px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.images {
	display: flex;
	justify-content: space-around;

}
.ticket {
	width: 150px;
	height: 60px;
	padding-top: 5px;
	padding-left: 30px;
	padding-right:30px;
}

.air {
	width: 150px;
	height: 60px;
	padding-top: 5px;
	padding-left: 30px;
	padding-right:30px;
}
.capital {
	width: 150px;
	height: 60px;
	padding-top: 5px;
	padding-left: 30px;
	padding-right: 30px;
}
.target {
	width: 150px;
	height: 60px;
	padding-top: 5px;
	padding-left: 30px;
	padding-right: 30px;
}
.oracle {
	width: 150px;
	height: 60px;
	padding-top: 5px;
	padding-left: 30px;
}


.foot {
	background-color: #471448; 
	text-align: center;
}

.foot h1 {
	font-family: Lato, sans-serif;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
}

.foot button {
	background-color: #FFFFFF;
	color: #471448;
	font-family: Lato, sans-serif;
	text-align: center;
	font-size: 14px;
	border-radius: 6px;
	border-style: none;
	padding: 22px 45px;
}
