body {
	background-color: #ffffff
}
header img {
	height: 30px;
	width: 100px;
	float: left;
	padding-left: 60px;
	padding-top: 12px;
	padding-right: 20px;
}
li {
	display: inline;
	padding: 15px;
}



.svg img {
	width: 500px;
	height: 520px;
	padding-left: 50px;
	padding-top: 100px;
	float: left;
}
.work {
	padding-top: 300px; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
	font-size: 100%;
}