header img {
	height: 30px;
	width: 100px;
	float: left;
	padding-left: 60px;
	padding-top: 12px;
	padding-right: 20px;
}
li {
	display: inline;
	padding: 30px;
}



.svg img {
	width: 400px;
	height: 420px;
	padding-left: 50px;
	padding-top: 100px;
	float: left;
}
.work {
	padding-top: 100px; 
}